PANEL_PORT=3100
PANEL_BASE_PATH=/
PANEL_TRUST_PROXY=false
PANEL_COOKIE_SECURE=false
PANEL_SESSION_MINUTES=60
PANEL_SESSION_SECRET=

SIM_API_BASE_URL=http://localhost:3000
SIM_API_ADMIN_KEY=

ADMIN_USERS_FILE=./config/admin-users.json
